@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

html,body{
  width:100%;
  margin:0px;
  padding:0px;
  font-size: 14px;
  background: #F5F5F5;
}

a {
  color: #1E88E5;
  text-decoration: none;
}

a:hover {
  color: #FF5252;
}

.Side {
  width: 100%;
  position: fixed;
  top: 56px;
  overflow:auto;
}

