 html,body{
  width:100%;
  margin:0px;
  padding:0px;
  font-size: 14px;
  background: #F5F5F5;
}

a {
  color: #1E88E5;
  text-decoration: none;
}

a:hover {
  color: #FF5252;
}

.Side {
  width: 100%;
  position: fixed;
  top: 56px;
  overflow:auto;
}

.sideStyle {
  height: 70%;
  overflow: auto;
  width: 100%;
  position: fixed;
  top: 56px;
  overflow:auto;
  left: 0;
  width: 250px;
  z-index: 9999;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  top: 72px;
}



