<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zjnu.AutoGenPaperSystem.dao.DifficultyMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zjnu.AutoGenPaperSystem.model.Difficulty" >
    <constructor >
      <idArg column="Difficulty_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Uplimit" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="Lowlimit" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="Describes" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Difficulty_ID, Uplimit, Lowlimit, Describes
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Difficulty
    where Difficulty_ID = #{difficultyId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Difficulty
    where Difficulty_ID = #{difficultyId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Difficulty" >
    insert into Difficulty (Difficulty_ID, Uplimit, Lowlimit,
      Describes)
    values (#{difficultyId,jdbcType=INTEGER}, #{uplimit,jdbcType=DOUBLE}, #{lowlimit,jdbcType=DOUBLE}, 
      #{describe,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Difficulty" >
    insert into Difficulty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="difficultyId != null" >
        Difficulty_ID,
      </if>
      <if test="uplimit != null" >
        Uplimit,
      </if>
      <if test="lowlimit != null" >
        Lowlimit,
      </if>
      <if test="describe != null" >
        Describes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="difficultyId != null" >
        #{difficultyId,jdbcType=INTEGER},
      </if>
      <if test="uplimit != null" >
        #{uplimit,jdbcType=DOUBLE},
      </if>
      <if test="lowlimit != null" >
        #{lowlimit,jdbcType=DOUBLE},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Difficulty" >
    update Difficulty
    <set >
      <if test="uplimit != null" >
        Uplimit = #{uplimit,jdbcType=DOUBLE},
      </if>
      <if test="lowlimit != null" >
        Lowlimit = #{lowlimit,jdbcType=DOUBLE},
      </if>
      <if test="describe != null" >
        Describes = #{describe,jdbcType=VARCHAR},
      </if>
    </set>
    where Difficulty_ID = #{difficultyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Difficulty" >
    update Difficulty
    set Uplimit = #{uplimit,jdbcType=DOUBLE},
      Lowlimit = #{lowlimit,jdbcType=DOUBLE},
      Describes = #{describe,jdbcType=VARCHAR}
    where Difficulty_ID = #{difficultyId,jdbcType=INTEGER}
  </update>
  <select id="selectAllDifficult" resultMap="BaseResultMap">
    SELECT
    *
    FROM Difficulty
  </select>
</mapper>