<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zjnu.AutoGenPaperSystem.dao.UserMapper" >
	<resultMap id="BaseResultMap" type="cn.edu.zjnu.AutoGenPaperSystem.model.User" >
		<constructor >
			<idArg column="UserId" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="UserName" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="UserPassword" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="Salt" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="Downloadable" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="SubjectCan" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="UserChosen" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="UserCollection" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="Roles_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="School" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="isDelete" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="PhoneNum" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="Email" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="ComManager_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List" >
    UserId, UserName, UserPassword, Salt, Downloadable, SubjectCan, UserChosen, UserCollection,
    Roles_ID, School, isDelete, PhoneNum, Email, ComManager_ID
  </sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List"/>
		from User
		where UserId = #{userId,jdbcType=INTEGER} and isDelete = 0
	</select>

	<select id="selectAllUsers" resultType="cn.edu.zjnu.AutoGenPaperSystem.model.User">
    SELECT * FROM User WHERE  isDelete = 0
  </select>
	<select id="selectSubjectCanByUserId" resultType="java.lang.String">
		SELECT SubjectCan FROM User WHERE userId = #{userId} and isDelete = 0
	</select>
	<select id="selectUserByUserName" resultType="cn.edu.zjnu.AutoGenPaperSystem.model.User">
		SELECT * FROM User WHERE userName = #{userName}
	</select>
	<select id="selectUserChosenByUSerId" resultType="java.lang.String">
	  SELECT UserChosen FROM User WHERE userId = #{userId}
	</select>
	<select id="selectColleltionByUserId" resultType="java.lang.String">
		SELECT UserCollection FROM User Where userId = #{userId}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from User
    where UserId = #{userId,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.User" useGeneratedKeys="true" keyProperty="userid">
		insert into User (UserId, UserName, UserPassword,
		Salt, Downloadable, SubjectCan,
		UserChosen, UserCollection, Roles_ID,
		School, isDelete, PhoneNum,
		Email, ComManager_ID)
		values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR},
		#{salt,jdbcType=VARCHAR}, #{downloadable,jdbcType=INTEGER}, #{subjectcan,jdbcType=VARCHAR},
		#{userchosen,jdbcType=VARCHAR}, #{usercollection,jdbcType=VARCHAR}, #{rolesId,jdbcType=VARCHAR},
		#{school,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER}, #{phonenum,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}, #{commanagerId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.User" useGeneratedKeys="true" keyProperty="userid">
		insert into User
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="userid != null" >
				UserId,
			</if>
			<if test="username != null" >
				UserName,
			</if>
			<if test="userpassword != null" >
				UserPassword,
			</if>
			<if test="salt != null" >
				Salt,
			</if>
			<if test="downloadable != null" >
				Downloadable,
			</if>
			<if test="subjectcan != null" >
				SubjectCan,
			</if>
			<if test="userchosen != null" >
				UserChosen,
			</if>
			<if test="usercollection != null" >
				UserCollection,
			</if>
			<if test="rolesId != null" >
				Roles_ID,
			</if>
			<if test="school != null" >
				School,
			</if>
			<if test="isdelete != null" >
				isDelete,
			</if>
			<if test="phonenum != null" >
				PhoneNum,
			</if>
			<if test="email != null" >
				Email,
			</if>
			<if test="commanagerId != null" >
				ComManager_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="userid != null" >
				#{userid,jdbcType=INTEGER},
			</if>
			<if test="username != null" >
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="userpassword != null" >
				#{userpassword,jdbcType=VARCHAR},
			</if>
			<if test="salt != null" >
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="downloadable != null" >
				#{downloadable,jdbcType=INTEGER},
			</if>
			<if test="subjectcan != null" >
				#{subjectcan,jdbcType=VARCHAR},
			</if>
			<if test="userchosen != null" >
				#{userchosen,jdbcType=VARCHAR},
			</if>
			<if test="usercollection != null" >
				#{usercollection,jdbcType=VARCHAR},
			</if>
			<if test="rolesId != null" >
				#{rolesId,jdbcType=VARCHAR},
			</if>
			<if test="school != null" >
				#{school,jdbcType=VARCHAR},
			</if>
			<if test="isdelete != null" >
				#{isdelete,jdbcType=INTEGER},
			</if>
			<if test="phonenum != null" >
				#{phonenum,jdbcType=VARCHAR},
			</if>
			<if test="email != null" >
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="commanagerId != null" >
				#{commanagerId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.User" >
		update User
		<set >
			<if test="username != null" >
				UserName = #{username,jdbcType=VARCHAR},
			</if>
			<if test="userpassword != null" >
				UserPassword = #{userpassword,jdbcType=VARCHAR},
			</if>
			<if test="salt != null" >
				Salt = #{salt,jdbcType=VARCHAR},
			</if>
			<if test="downloadable != null" >
				Downloadable = #{downloadable,jdbcType=INTEGER},
			</if>
			<if test="subjectcan != null" >
				SubjectCan = #{subjectcan,jdbcType=VARCHAR},
			</if>
			<if test="userchosen != null" >
				UserChosen = #{userchosen,jdbcType=VARCHAR},
			</if>
			<if test="usercollection != null" >
				UserCollection = #{usercollection,jdbcType=VARCHAR},
			</if>
			<if test="rolesId != null" >
				Roles_ID = #{rolesId,jdbcType=VARCHAR},
			</if>
			<if test="school != null" >
				School = #{school,jdbcType=VARCHAR},
			</if>
			<if test="isdelete != null" >
				isDelete = #{isdelete,jdbcType=INTEGER},
			</if>
			<if test="phonenum != null" >
				PhoneNum = #{phonenum,jdbcType=VARCHAR},
			</if>
			<if test="email != null" >
				Email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="commanagerId != null" >
				ComManager_ID = #{commanagerId,jdbcType=INTEGER},
			</if>
		</set>
		where UserId = #{userid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.User" >
    update User
    set UserName = #{username,jdbcType=VARCHAR},
      UserPassword = #{userpassword,jdbcType=VARCHAR},
      Salt = #{salt,jdbcType=VARCHAR},
      Downloadable = #{downloadable,jdbcType=INTEGER},
      SubjectCan = #{subjectcan,jdbcType=VARCHAR},
      UserChosen = #{userchosen,jdbcType=VARCHAR},
      UserCollection = #{usercollection,jdbcType=VARCHAR},
      Roles_ID = #{rolesId,jdbcType=VARCHAR},
      School = #{school,jdbcType=VARCHAR},
      isDelete = #{isdelete,jdbcType=INTEGER},
      PhoneNum = #{phonenum,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      ComManager_ID = #{commanagerId,jdbcType=INTEGER}
    where UserId = #{userid,jdbcType=INTEGER}
  </update>
	<update id="updateByUserId">
    UPDATE User
    SET UserChosen=#{param1}
    WHERE UserId = #{param2}
  </update>
	<update id="updateCollectByUserId">
    UPDATE User
    SET UserCollection=#{param1}
    WHERE UserId = #{param2}
  </update>
	<update id="updateSubjectCanByUserId">
    UPDATE User
    SET SubjectCan = #{param2}
    where userId = #{param1}
  </update>
	<update id="updateIsDeleteByUserId">
		UPDATE User
		SET isDelete = 1
		WHERE userId = #{usaerid}
	</update>
</mapper>