<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zjnu.AutoGenPaperSystem.dao.UserSubPermissMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zjnu.AutoGenPaperSystem.model.UserSubPermiss" >
    <constructor >
      <idArg column="SubPermissId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="UserId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="SubjectId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="AllowPaper" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DoPaper" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="IsDelete" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    SubPermissId, UserId, SubjectId, AllowPaper, DoPaper, IsDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from UserSubPermiss
    where SubPermissId = #{subpermissid,jdbcType=INTEGER}
  </select>
  <select id="selelctByUseridSubid" resultMap="BaseResultMap" >
    SELECT
    *
    FROM UserSubPermiss
    WHERE UserId=#{param1} AND SubjectId=#{param2} AND IsDelete=0
  </select>
    <select id="selectListByUseridKey" resultType="cn.edu.zjnu.AutoGenPaperSystem.model.UserSubPermiss" parameterType="java.lang.Integer">
      SELECT *
      FROM UserSubPermiss
      WHERE UserId=#{userid} AND IsDelete=0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from UserSubPermiss
    where SubPermissId = #{subpermissid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.UserSubPermiss" >
    insert into UserSubPermiss (SubPermissId, UserId, SubjectId, 
      AllowPaper, DoPaper, IsDelete
      )
    values (#{subpermissid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{subjectid,jdbcType=INTEGER}, 
      #{allowpaper,jdbcType=INTEGER}, #{dopaper,jdbcType=INTEGER}, #{isdelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.UserSubPermiss" >
    insert into UserSubPermiss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subpermissid != null" >
        SubPermissId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="subjectid != null" >
        SubjectId,
      </if>
      <if test="allowpaper != null" >
        AllowPaper,
      </if>
      <if test="dopaper != null" >
        DoPaper,
      </if>
      <if test="isdelete != null" >
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subpermissid != null" >
        #{subpermissid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="subjectid != null" >
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="allowpaper != null" >
        #{allowpaper,jdbcType=INTEGER},
      </if>
      <if test="dopaper != null" >
        #{dopaper,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.UserSubPermiss" >
    update UserSubPermiss
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="subjectid != null" >
        SubjectId = #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="allowpaper != null" >
        AllowPaper = #{allowpaper,jdbcType=INTEGER},
      </if>
      <if test="dopaper != null" >
        DoPaper = #{dopaper,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        IsDelete = #{isdelete,jdbcType=BIT},
      </if>
    </set>
    where SubPermissId = #{subpermissid,jdbcType=INTEGER} AND IsDelete=0
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.UserSubPermiss" >
    update UserSubPermiss
    set UserId = #{userid,jdbcType=INTEGER},
      SubjectId = #{subjectid,jdbcType=INTEGER},
      AllowPaper = #{allowpaper,jdbcType=INTEGER},
      DoPaper = #{dopaper,jdbcType=INTEGER},
      IsDelete = #{isdelete,jdbcType=BIT}
    where SubPermissId = #{subpermissid,jdbcType=INTEGER}
  </update>
  <update id="updateBySubIdAndUserId">
    UPDATE UserSubPermiss
    SET IsDelete=1
    WHERE UserId=#{param2} AND SubjectId=#{param1}
  </update>
</mapper>